header { 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    

    .rettangolo {
        width:200px;
        height:100px;
        background:orange;
    }
    #square {
        background: rgb(230, 173, 182);
        width: 33333;
        height: 1333330px;
    }
}

body {
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:
    }
  div { border-radius: 50%;

 }